body {
      background: #f4f6f8;
      font-family: 'Segoe UI', sans-serif;
      padding-bottom: 60px;
    }
    #skillChart {
  width: 100% !important;
  max-width: 100%;   /* biar gak terlalu panjang */
  height: 800px !important; /* tinggi pas */
  margin: 0 auto; /* center */
}

    .hero {
      text-align: center;
      padding: 60px 20px;
      background: linear-gradient(135deg, #66C1FF, #F1ECF6);
      color: white;
    }
    .hero img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 4px solid white;
      margin-bottom: 20px;
    }
    section {
      padding: 100px 5px; /* kasih jarak lebih jauh antar div */
    }
    footer {
      background: #1b1c1d;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 80px;
    }
    .project-card {
      cursor: pointer;
      transition: transform 0.2s;
    }
    .project-card:hover {
      transform: scale(1.03);
    }
